@inherits LayoutComponentBase

<div>
    <!--komponent med fristående innehåll-->
    <Header />
</div>

<div>
    <div>
        <NavMenu />
    </div>

    <div class="pageContent">
    <main>

        <article>
            @Body
        </article>
		</main>
	</div>
</div>

<footer>
    <div class="borderaround">
        <p>Av Matilda Fröberg - Kontakta mig via epost: mafr2109@student.miun.se</p>
    </div>
</footer>





