
<div>
    <nav>
        <div class="listitem">
            <NavLink href="/" ActiveClass="nav-active" Match="NavLinkMatch.All">
               Start
            </NavLink>
        </div>
        <div class="listitem">
            <NavLink href="konvertering" ActiveClass="nav-active">
              Konvertering
            </NavLink>
        </div>
        <div class="listitem">
            <NavLink href="json" ActiveClass="nav-active">
               JSON
            </NavLink>
        </div>
    </nav>

</div>
