@page "/"

<PageTitle>Start</PageTitle>

<h1>Start</h1>

Välkommen till min Blazor-applikation. I denna applikation har en konverterings-sida skapats, samt en sida som hanterar data från en JSON-fil.
JSON-filen är en återanvänd fil som innehåller en array med lästa kurser. Filen användes i kursen JavaScript-baserad webbutveckling, moment 3.2.
<br />

Efter att ha arbetat med både Razor och Blazor blir min åsikt att Blazor so far är roligast att jobba med. Jag tycker likheterna med frontend-ramverket Vue 
gör det lättare att förstå. 
<br />

Hade jag fått önska hade jag gillat att kunna skapa projekt utan bootstrap överallt. Den mallen man får som start är enligt mig lite rörig.

